@import '../../components/variables';
@import '../../components/mixins';

.dest-page-header-container {
    font-family: $default-font-size;
    position: relative;
    background: $tc-white;
    height: 600px;

    .dest-page-header-text {
        display: flex;
        flex-basis: 30%;
        padding: 1rem;
        align-self: center;
        justify-content: center;
        white-space: nowrap;
        background-color: rgba($tc-black, 0.5);

        .dest-name {
            font-family: $logo-font-family;
            margin: 0;
            font-size: $logo-font-size;
            color: $tc-white;
        }
    }

    .border {
        position: absolute;
        bottom: -50px;
        width: 100%;
        height: 100px;
        fill: $tc-white;
    }
}

.dest-page-content-wrapper {
    box-sizing: border-box;
    background-color: $tc-white;
    padding: 0 0 10rem 0;
    min-height: 100vh;
    margin: auto;
    box-shadow: -20px 1.5rem 2rem 0px rgba(0, 0, 0, 0.08);
    font-family: $default-font-family;
    color: $mid-gray;

    .content {
        font-family: $default-font-family;
        font-size: $default-font-size;
        max-width: 1280px;
        margin: 0 auto;
        padding: 3.125rem 1.5rem 0 1.5rem;
    }

    .dest-page-title {
        @include title-border-bottom($powder-blue, $crayola-yellow);
        font-size: $subtitle-font-size;
        width: fit-content;
    }

    .dest-details {
        display: flex;
        margin-bottom: 3rem;

        .dest-info {
            flex-basis: 30%;
            min-width: 230px;
            display: flex;
            flex-direction: column;
            border: 1px solid $light-gray;
            border-radius: 8px;
            padding: 1rem;
            margin-right: 0.5rem;
            margin-bottom: auto;
            .dest-info-item {
                margin-bottom: 0.5rem;
                display: flex;

                svg {
                    flex-shrink: 0;
                }

                .info-text {
                    margin: 0 0 0 0.5rem;
                }

                .rating-icon {
                    margin: 0 1rem 0 0;
                    width: 50px;
                    font-family: $logo-font-family;
                    font-weight: bold;
                }

                .router-link {
                    text-decoration: none;
                    @include animated-underline($powder-blue);
                }

                .rating-bar {
                    display: flex;
                    align-items: center;
                }
            }

            .nearby-dest-item {
                border: 1px solid $light-gray;
                border-radius: 8px;
                margin-bottom: 0.5rem;
            }
        }

        .dest-map-wrapper {
            flex-basis: 70%;
            margin-left: 0.5rem;
        }

        .dest-ratings > * {
            margin-bottom: 0.5rem;
        }
    }

    .associated-trecipes-wrapper {
        display: flex;
        flex-direction: column;
        .associated-trecipes-list {
            list-style: none;
            padding: 0;
            display: flex;
            overflow-x: auto;
            width: 100%;

            .associated-trecipe-item {
                &:nth-of-type(1) {
                    margin-left: 0;
                }

                flex-shrink: 0;
                width: 23rem;
                margin-left: 1rem;
            }
        }
    }
}
