@import "../variables.scss";
@import "../mixins.scss";

.searchBarPopup {
    font-family: $default-font-family;
    background-color: $tc-white;
    width: 500px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid $silver-gray;
    padding: 15px 35px ;
}


.title {
  @include title-border-bottom($powder-blue, $crayola-yellow);
  width: fit-content;
  font-style: normal;
  font-size: $default-font-size;
  color: $indigo-dye;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-bar-wrapper {
  width: 100%;
  min-width: 18.75rem;
}

.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 1.5rem;
  border-radius: 8px;
  border: solid 1px $silver-gray;
  background-color: $tc-white;
  padding: 0.3rem 0.5rem;

  &:focus-within {
    border-color: $mid-gray;
  }

  .search-input {
    flex-grow: 1;
    font-size: $input-font-size;
    font-family: $default-font-family;
    background: none;
    color: $mid-gray;
    border: none;
    outline: none;
    padding: 0 6px;
  }

  .search-button {
    font-size: $default-font-size;
    flex: 0 0;
    border: none;
    background: none;
    cursor: pointer;
    svg {
      color: $mid-gray;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
    }
    &:hover svg {
      opacity: 0.9;
    }
  }
}

.results-container {
  position: absolute;
  min-width: 18.75rem;
  font-size: $default-font-size;
  font-family: $default-font-family;
  box-shadow: rgba($tc-black, 0.12) 0 5px 12px;
  border-radius: 0 0 8px 8px;
  padding: 1em 0;
  background-color: $tc-white;
  .results-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .results-entry {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    height: 3.2em;
    width: max-content;
    text-align: start;
    cursor: pointer;
    a {
      color: $mid-gray;
      text-decoration: none;
    }
    a span {
        min-width: 18.10rem;
        display: block;
    }
    .address {
        font-size: 0.8rem;
        color: $silver-gray;
    }

    .checked {
        float: right;
        position: relative;
    }
    .icon-hidden {
        opacity: 0%;
    }

    &:hover {
      transition: background-color 0.3s ease;
      background-color: rgba($indigo-dye, 0.04);
    }
  }
}