@import '../../components/variables';
@import '../../components/mixins.scss';

.map-page-wrapper {
    box-sizing: border-box;
    background-color: $tc-white;
    padding: 0.5rem 0 0 0;
    min-height: 100vh;
    box-shadow: 0 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.08);

    .map-page-content {
        display: flex;
        flex-direction: row;
        z-index: 0;

        .map-side-bar {
            flex: 0 0 400px;
            height: 100vh;
            padding: 0;
            min-width: 0;

            .trecipe-header {
                position: sticky;
                top: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                font-size: $subtitle-font-size;
                font-family: $default-font-family;
                background: $tc-white;
                padding: 1rem 0.5rem;
                z-index: 10;

                .trecipe-title {
                    min-width: 0;
                    overflow: hidden;
                }

                .icon-button {
                    color: $mid-gray;

                    :hover {
                        color: $tc-black;
                    }
                }
            }

            .empty-text-wrapper {
                position: relative;
                height: calc(100vh - 4rem);
                padding: 0 0.5rem;
                z-index: 0;
            }

            .dest-card-list {
                overflow-y: auto;
                overflow-x: hidden;
                height: calc(100vh - 4rem);
                margin: 0;
                padding: 0;
                z-index: 0;

                & .dest-card-item-wrapper {
                    padding: 0.3rem 0.5rem;
                }
            }
        }

        .map-container {
            flex: 1 1 100%;
            position: relative;
            overflow: hidden;
        }
    }

    @include mobile {
        .map-page-content {
            flex-direction: column;

            .map-side-bar {
                flex: 1 1 100%;
                height: auto;
                order: 2;
                width: 100vw;
                overflow: hidden;

                .trecipe-header {
                    padding: 1rem 1rem;
                }

                .dest-card-list {
                    display: flex;
                    flex-direction: row;
                    overflow-x: auto;
                    height: auto;

                    .dest-card-item-wrapper {
                        &:nth-of-type(1) {
                            margin-left: 0;
                        }

                        flex-shrink: 0;
                        width: 23rem;
                        margin-left: 1rem;
                    }
                }
            }

            .map-container {
                flex: 0 0 40vh;
                order: 1;
            }
        }
    }
}
