@import '../../../components/variables';
@import '../../../components/mixins.scss';

.dest-card-item-wrapper {
    box-sizing: border-box;
    width: 100%;
    font-family: $default-font-family;
    background-color: $tc-white;
    display: flex;
    flex-direction: column;

    .dest-card-header-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $light-gray;
        border-radius: 8px 8px 0 0;
        flex: 0 0 8rem;

        .dest-card-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            #dest-card-title {
                color: $tc-white;
                font-size: $title-font-size;
                text-transform: uppercase;
                margin: 0;
                padding: 0.2rem 0.5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex: 1 0 70%;
            }

            #dest-check-icon {
                color: $tc-white;
                margin: 0 0.5rem;
                font-size: $default-font-size;
            }
        }
    }

    .dest-card-body {
        display: flex;
        flex-direction: column;
        padding: 0.4em 0.5em;
        border: solid $light-gray;
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 8px 8px;
        flex: 0 0 8.5rem;

        .dest-metadata {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0.5rem;

            #dest-category {
                color: $silver-gray;
                font-size: $default-font-size;
                margin: 0;
                padding: 0 0 0.5rem 0;
                overflow: hidden;
                word-break: break-word;
                display: flex;

                .dest-category-icon {
                    font-size: $default-font-size;
                    flex-shrink: 0;
                }

                .dest-category-text {
                    margin: 0 0 0 0.5rem;
                }
            }
        }

        .dest-description {
            color: $tc-black;
            font-size: $default-font-size;
            overflow: hidden;
            text-overflow: ellipsis;

            .dest-info-item {
                margin-bottom: 0.5rem;
                display: flex;

                svg {
                    flex-shrink: 0;
                }

                .info-text {
                    margin: 0 0 0 0.5rem;
                }

                .router-link {
                    text-decoration: none;
                    @include animated-underline($powder-blue);
                }
            }
        }
    }
}
