@import '../variables.scss';
@import '../mixins.scss';

.searchBarPopup {
    font-family: $default-font-family;
    background-color: $tc-white;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid $silver-gray;
    padding: 15px 35px;
    min-width: 31.25rem;
    .contents {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
            @include title-border-bottom($powder-blue, $crayola-yellow);
            width: fit-content;
            font-style: normal;
            font-size: $default-font-size;
            color: $indigo-dye;
        }
    }
    .search-input {
        line-height: 2rem;
        font-size: $input-font-size;
        font-family: $default-font-family;
        background-color: $tc-white;
        color: $mid-gray;
        border-radius: 8px;
        border: solid 1px $silver-gray;
        outline: none;
        margin-top: 0.5rem;
        padding: 0.3rem 0.5rem;
        &:focus-within {
            border-color: $mid-gray;
        }
    }
    & .results-container {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        font-size: $default-font-size;
        font-family: $default-font-family;
        padding: 1em 0;
        background-color: $tc-white;
        .results-list {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .results-entry {
            display: flex;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            padding: 1rem 0.5rem;
            text-align: start;
            cursor: pointer;
            .result {
                color: $mid-gray;
                text-decoration: none;
                & > * {
                    display: block;
                }
                .address {
                    font-size: 0.8rem;
                    color: $silver-gray;
                }
            }
            &:hover {
                transition: background-color 0.3s ease;
                background-color: rgba($indigo-dye, 0.04);
            }
        }
    }
}
