.carousel-container{
    background: white;
    height: calc(100vh - 119px);
    position: relative;
}

.intro-image{
    height: calc(100vh - 119px);
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 35%),url('http://localhost:7000/api/v1/upload/6a05362348e238c5cf1f6d43dda938a5.jpg');
    background-position: center;
}

.intro-text{
    color: white;
    position: absolute;
    top: calc(50% - 12vh);
    right: calc(50% - 327.5px);
    width: 655px;
    margin: 0.5rem 1rem 0.5rem 0;
    font-size: 12vh;
    font-family: "Shadows Into Light", cursive;
}

.intro-banner{
    position:relative;
}

.dot{
    &:focus{
        outline: none;
    }
}

.border{
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 100px;
    fill: #ffffff;
}

.content-container{
    background: white;
}

.content-wrapper{
    max-width: 1280px;
    margin: auto;
}

.carousel-root{
    height: 100%;
}

.carousel{
    &.carousel-slider{
        height: 100%;
    }

}

.slider-wrapper{
    &.axis-horizontal{
        height: 100%;
    }
}

.slider{
    height: 100%;
}

.slide{
    &.selected{
        height: 100%;
    }
    height: 100%;
}
