@import '../../components/variables';

.container {
    background: $tc-white;

    .carousel-container {
        background: $tc-white;
        height: calc(100vh - 119px);
        position: relative;
    }

    .intro-banner {
        position: relative;
        background-color: $white-gray;

        .intro-image {
            height: calc(100vh - 119px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .intro-text {
            color: $tc-white;
            position: absolute;
            top: calc(50% - 12vh);
            right: calc(50% - 327.5px);
            width: 655px;
            margin: 0.5rem 1rem;
            font-size: 12vh;
            font-family: $logo-font-family;
        }

        .border {
            position: absolute;
            left: 0;
            bottom: -50px;
            width: 100%;
            height: 100px;
            fill: $tc-white;
        }
    }

    .content-wrapper {
        max-width: 1280px;
        padding: 0 0 10rem 0;
        margin: auto;

        .main-text-wrapper {
            color: $mid-gray;

            .main-text-header {
                text-align: center;
                font-family: $logo-font-family;
                font-size: 3rem;
                margin-top: 10rem;
            }

            .main-text-subheader {
                font-weight: lighter;
                text-align: center;
                font-family: $default-font-family;
                font-size: $subtitle-font-size;
                margin-bottom: 10rem;
            }

            .main-text {
                text-align: center;
                font-family: $default-font-family;
                font-size: $default-font-size;
                line-height: 2rem;
                max-width: 50%;
                margin: auto auto 5rem;
            }

            .main-text-subending {
                font-weight: lighter;
                text-align: center;
                font-family: $default-font-family;
                font-size: $subtitle-font-size;
                margin-top: 10rem;

                span {
                    color: $powder-blue;
                }
            }

            .main-text-ending {
                font-weight: lighter;
                text-align: center;
                font-family: $default-font-family;
                font-size: $default-font-size;
                margin: 5rem 0 2rem 0;
            }

            .login-btn {
                width: fit-content;
                margin: auto;
            }
        }
    }
}
