@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.button {
  outline-style: none;
  background-color: $tc-white;
  border: 1px solid $silver-gray;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: $mid-gray;
  height: 2.5em;
  padding: 0 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: rgba($indigo-dye, 0.04);
    color: $indigo-dye;
    border-color: $indigo-dye;
  }
  &:active {
    background: $indigo-dye;
    color: $tc-white;
  }
  &:disabled {
    color: $light-gray;
    background-color: $white-gray;
    border-color: $light-gray;
  }
  .button-icon {
    padding: 5px;
  }
}