@import "variables";

.button {
  background-color: $tc-white;
  border: 1px solid $silver-gray;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-size: $button-font-size;
  font-family: $default-font-family;
  color: $mid-gray;
  height: 2.5rem;
  padding: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: rgba($indigo-dye, 0.04);
    color: $indigo-dye;
    border-color: $indigo-dye;
  }
  &:active {
    background: $indigo-dye;
    color: $tc-white;
  }
  &:disabled {
    color: $light-gray;
    background-color: $white-gray;
    border-color: $light-gray;
  }
  .button-icon {
    padding: 5px;
  }
}