$powder-blue: #A8DADC;
$indigo-dye: #0D3B68;
$crayola-yellow: #FFE66D;
$tc-white: #FFFFFF;

//gray
$mid-gray: #52575C;
$silver-gray: #A0A4A8;
$bright-gray: #CACCCF;
$light-gray: #DBDDE0;
$white-gray: #F9F9FA;

