@import "variables";
.coverPhotoUploadButton{
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.coverPhotoWrapper{
  height: 35%;
  width: 100%;
  position: absolute;
  top: 0;
}

.coverPhotoImage{
  background-image: linear-gradient(180deg,
          rgba(255, 255, 255, 0) 35%,
          rgba(0, 0, 0, 0.5) 100%);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  cursor: pointer;
  &:hover{
     opacity: 0.7;
  }
  transition: opacity 0.5s;
}

.coverPhotoImageEnlarged{
  @extend .coverPhotoImage;
  position: absolute;
  &:hover{
    opacity: 1;
  }
}

.dialog {
  position: static;
  height: 200%;
  width: 80%;
  top: 10%;
}

.coverPhotoUploadButton .button {
  &:hover {
    background-color: white !important;
    color: $mid-gray !important;
    border-color: $mid-gray !important;
  }
}