@import "variables";

@mixin title-border-bottom ($baseColor, $accentColor) {
  display: inline-block;
  border-bottom: 3px solid $accentColor;
  position: relative;
  &:after {
    position: absolute;
    left: 62%;
    right: 0;
    bottom: -3px;
    border-top: 3px solid $baseColor;;
    content: '';
  }
}