@import "variables";
@import "mixins";

.content-wrapper {
  box-sizing: border-box;
  background-color: $tc-white;
  margin: auto auto 21.875rem;
  padding: 1rem 0 10rem 0;
  min-height: 100vh;
  box-shadow: 0 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.08);

  .content {
    font-family: $default-font-family;
    font-size: $default-font-size;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .page-title {
      @include title-border-bottom($powder-blue, $crayola-yellow);
      font-size: $title-font-size;
    }

    .buttons-wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
    }

    .context-filters {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;

      & > * {
        flex: none;
        margin-right: 0.5rem;
      }
    }

    .new-trecipe-button {
      flex: none;
      margin-left: 2rem;
    }

    .cards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax($tc-max-width, 1fr));
      grid-gap: 1rem;
      grid-auto-flow: dense;
    }
  }
}

.modal {
  z-index: 1010;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}