@import "variables";

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-decoration: none;
  font-style: normal;
  font-size: $default-font-size;
  font-family: $default-font-family;
  text-transform: uppercase;
  align-self: center;
  color: $mid-gray;
  display: inline-block;
  position: relative;
  margin: 0.9rem 1.25rem;
  transition: 0.3s;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: 2px;
    background-color: $powder-blue;
    transition: 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}
