@import "variables";


.wrapper {
  padding: 50px;
}

.toggle-component {
  font-size: 2rem;
  color: $light-gray;
  width: 50px;
  height: 25px;
  background: #777777;
  border: 1px solid $silver-gray;
  position: relative;
  border-radius: 13px;
  cursor: pointer;
  transition: border-color background-color 0.3s;
  margin-top: 10px;
}
.toggle-component.active {
  background: $powder-blue;
  border-color: #dfdfdf;
}
.toggle-component.active .toggle-button {
  right: 2px;
}
.toggle-component .toggle-button {
  position: absolute;
  top: 1px;
  right: 50%;
  height: 23px;
  width: 23px;
  background: $tc-white;
  box-shadow: 0 0 3px #555;
  border-radius: 50%;
  transition: right 0.3s;
}
