@import "variables";

.TrecipeCard {
    font-family: 'Lato', sans-serif;
    background-color: $tc-white;
    border:  1px solid $light-gray;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.Image {
    background: linear-gradient(180deg, rgba($tc-white, 0) 0.35, rgba($tc-black, 0.5) 1) center;
    background-size: 100%;
    height: 67%;
    display: flex;
    color: $tc-white;

    .LabelEdit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        label {
            color: $tc-white;
            font-size: 2em;
            text-transform: uppercase;
            padding: 0.2rem 0.5rem;
            .icon {
                font-size: 0.5em;
                position: relative;
                padding: 5px;
            }
        }

        .ellipsis {
            font-size: 2em;
            padding: 0.2rem 0.5rem;
            &:hover {
                color: $powder-blue;
            }
        }
    }
}

.Text{
    padding: 0.4em 0.5em;
    flex: 1 0 0;
    .MetaData {
        height: 1em;
        font-size: 0.75em;
        color: $silver-gray;

        .date {
            float: left;
        }
    
        .author {
            float: right;
            }
    }

    p {
        height: 2.5em;
        font-size: 0.75em;
        color: #000000;
        text-align: left;
        overflow: hidden;
    }
}

.ProgressBar {
    height: 10px;
    background-color: $tc-white;

    .Filler {
        background-color: $powder-blue;
        height: 100%;
        width: 100%;
    }
}