@import "../variables.scss";

.search-bar-wrapper {
  width: 100%;
  min-width: 18.75rem;

  & .search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    border-radius: 8px;
    border: solid 1px $silver-gray;
    background-color: $tc-white;
    padding: 0.3rem 0.5rem;

    &:focus-within {
      border-color: $mid-gray;
    }

    .search-input {
      flex-grow: 1;
      font-size: $input-font-size;
      font-family: $default-font-family;
      background: none;
      color: $mid-gray;
      border: none;
      outline: none;
      padding: 0 6px;
    }

    .search-button {
      font-size: $default-font-size;
      flex: 0 0;
      border: none;
      background: none;
      cursor: pointer;
      svg {
        color: $mid-gray;
        opacity: 0.6;
        transition: all 0.2s ease-in-out;
      }
      &:hover svg {
        opacity: 0.9;
      }
    }

    .search-options {
      display: flex;
      flex-direction: row;
      flex: 0 0;

      .option {
        position: relative;
        display: inline-block;
        padding: 0 3px;

        input[type="radio"] {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          padding: 0;
          margin: 0;
          cursor: pointer;
        }

        label {
          display: block;
          cursor: pointer;
          font-size: $default-font-size;
        }

        span {
          position: absolute;
          display: block;
          text-align: center;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          background-color: $mid-gray;
          color: $tc-white;
          font-size: 0.6rem;
          text-transform: uppercase;
          padding: 4px 7px;
          border-radius: 10px;
          top: -1.25rem;
          transition: all 0.2s ease-in-out;
          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            border-top: 4px solid $mid-gray;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            transition: all 0.2s ease-in-out;
          }
        }

        &:hover span {
          opacity: 1;
          top: -1.5rem;
        }

        svg {
          color: $mid-gray;
          opacity: 0.6;
          transition: all 0.2s ease-in-out;
        }
        &:hover svg {
          opacity: 0.9;
        }

        input[type="radio"]:checked + label svg {
          color: $indigo-dye;
          opacity: 1;
        }

        input[type="radio"]:checked + label span {
          background-color: $indigo-dye;
          &::after {
            border-top-color: $indigo-dye;
          }
        }
      }
    }
  }

  & .results-container {
    position: absolute;
    width: 40%;
    min-width: 18.75rem;
    font-size: $default-font-size;
    font-family: $default-font-family;
    box-shadow: rgba($tc-black, 0.12) 0 5px 12px;
    border-radius: 0 0 8px 8px;
    padding: 1em 0;
    background-color: $tc-white;
    .results-list {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .results-entry {
      padding-left: 1rem;
      height: 2.5em;
      line-height: 2.5em;
      text-align: start;
      cursor: pointer;
      a {
        color: $mid-gray;
        text-decoration: none;
      }
      &:hover {
        transition: background-color 0.3s ease;
        background-color: rgba($indigo-dye, 0.04);
      }
    }
  }
}
