@import '../../components/variables.scss';
@import '../../components/mixins.scss';

.mytrecipes-wrapper {
    box-sizing: border-box;
    background-color: $tc-white;
    margin: auto;
    padding: 0.5rem 0 10rem 0;
    min-height: 100vh;
    box-shadow: 0 1.5rem 1.5rem 0 rgba(0, 0, 0, 0.08);

    .content {
        font-family: $default-font-family;
        font-size: $default-font-size;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1.5rem;

        .page-title {
            @include title-border-bottom($powder-blue, $crayola-yellow);
            margin: 0;
            font-size: $title-font-size;
        }

        .buttons-wrapper {
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;
        }

        .context-filters {
            display: flex;
            flex-direction: row;
            list-style: none;
            margin: 0;
            padding: 0;

            & > * {
                flex: none;
                margin-right: 0.5rem;
            }
        }

        .new-trecipe-button {
            flex: none;
            margin-left: 2rem;
        }

        .cards-wrapper {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax($tc-min-width, 1fr));
            grid-gap: 1rem;
            grid-auto-flow: dense;
        }
    }
}
