@import '../variables';
@import '../animation';

// https://codepen.io/CCG/pen/KrANmJ used as reference
.loader-wrapper {
    height: 100vh;
    position: relative;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $tc-white;
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin: -80px 0px 0px -80px;
    border-radius: 50%;
    border: 2px solid $white-gray;
    &:before {
        content: '';
        width: 164px;
        height: 164px;
        display: block;
        position: absolute;
        border: 2px solid rgba($crayola-yellow, 0.5);
        border-radius: 50%;
        top: -2px;
        left: -2px;
        box-sizing: border-box;
        clip: rect(0px, 35px, 35px, 0px);
        z-index: 10;
        animation: rotate infinite;
        animation-duration: 3s;
        animation-timing-function: linear;
    }
    &:after {
        content: '';
        width: 164px;
        height: 164px;
        display: block;
        position: absolute;
        border: 2px solid rgba($powder-blue, 0.5);
        border-radius: 50%;
        top: -2px;
        left: -2px;
        box-sizing: border-box;
        clip: rect(0px, 164px, 150px, 0px);
        z-index: 9;
        animation: rotate2 3s linear infinite;
    }

    .hexagon-container {
        position: relative;
        top: 20px;
        left: 40px;
        border-radius: 50%;
        list-style: none;
    }

    .hexagon {
        position: absolute;
        width: 40px;
        height: 23px;
        background-color: $powder-blue;
        opacity: 70%;
        &:before {
            content: '';
            position: absolute;
            top: -11px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 11.5px solid $powder-blue;
        }
        &:after {
            content: '';
            position: absolute;
            top: 23px;
            left: 0;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 11.5px solid $powder-blue;
        }
    }

    @each $index, $top, $left in (1, 0px, 0px), (2, 0px, 42px), (3, 36px, 63px), (4, 72px, 42px),
        (5, 72px, 0px), (6, 36px, -21px), (7, 36px, 21px)
    {
        $time: 3s; // thx to @zeakd for this formula
        $delay: $time / 14;
        .hexagon.hex_#{$index} {
            top: $top;
            left: $left;
            //cubic-bezier(.155,1.105,.295,1.12)
            animation: Animasearch $time ease-in-out infinite;
            animation-delay: $delay * $index;
        }
    }

    @keyframes Animasearch {
        0% {
            transform: scale(1);
            opacity: 1;
        }
        15%,
        50% {
            transform: scale(0.5);
            opacity: 0;
        }
        65% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0);
            clip: rect(0px, 35px, 35px, 0px);
        }
        50% {
            clip: rect(0px, 40px, 40px, 0px);
        }
        100% {
            transform: rotate(360deg);
            clip: rect(0px, 35px, 35px, 0px);
        }
    }

    @keyframes rotate2 {
        0% {
            transform: rotate(0deg);
            clip: rect(0px, 164px, 150px, 0px);
        }
        50% {
            clip: rect(0px, 164px, 0px, 0px);
            transform: rotate(360deg);
        }
        100% {
            transform: rotate(720deg);
            clip: rect(0px, 164px, 150px, 0px);
        }
    }

    @keyframes rotate3 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.overlay-spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    // CSS referenced from https://github.com/tobiasahlin/SpinKit
    .sk-chase {
        align-self: center;
        animation: sk-chase 2.5s infinite linear both;
    }

    .sk-chase-dot {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        animation: sk-chase-dot 2s infinite ease-in-out both;
    }

    .sk-chase-dot:before {
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: $powder-blue;
        border-radius: 100%;
        animation: sk-chase-dot-before 2s infinite ease-in-out both;
    }

    .sk-chase-dot:nth-child(1) {
        animation-delay: -1.1s;
    }
    .sk-chase-dot:nth-child(2) {
        animation-delay: -1s;
    }
    .sk-chase-dot:nth-child(3) {
        animation-delay: -0.9s;
    }
    .sk-chase-dot:nth-child(4) {
        animation-delay: -0.8s;
    }
    .sk-chase-dot:nth-child(5) {
        animation-delay: -0.7s;
    }
    .sk-chase-dot:nth-child(6) {
        animation-delay: -0.6s;
    }
    .sk-chase-dot:nth-child(1):before {
        animation-delay: -1.1s;
    }
    .sk-chase-dot:nth-child(2):before {
        animation-delay: -1s;
    }
    .sk-chase-dot:nth-child(3):before {
        animation-delay: -0.9s;
    }
    .sk-chase-dot:nth-child(4):before {
        animation-delay: -0.8s;
    }
    .sk-chase-dot:nth-child(5):before {
        animation-delay: -0.7s;
    }
    .sk-chase-dot:nth-child(6):before {
        animation-delay: -0.6s;
    }

    @keyframes sk-chase {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes sk-chase-dot {
        80%,
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes sk-chase-dot-before {
        50% {
            transform: scale(0.4);
        }
        100%,
        0% {
            transform: scale(1);
        }
    }
}
