@import url("https://fonts.googleapis.com/css2?family=Lato&family=Shadows+Into+Light&display=swap");

//--- Colors ---//
$powder-blue: #a8dadc;
$indigo-dye: #0d3b68;
$crayola-yellow: #ffe66d;
$tc-white: #ffffff;
$tc-black: #000000;

// gray
$mid-gray: #52575c;
$silver-gray: #a0a4a8;
$bright-gray: #cacccf;
$light-gray: #dbdde0;
$white-gray: #f9f9fa;

//--- Font Families ---//
$header-font-family: "Lato", sans-serif;
$default-font-family: "Lato", sans-serif;
$logo-font-family: "Shadows Into Light", cursive;

//--- Font Sizes ---//
$logo-font-size: 4rem;
$button-font-size: 0.875rem;
$input-font-size: 0.8rem;
$default-font-size: 1rem;
$title-font-size: 2rem;

// --- Element Widths ---//
$tc-min-width: 350px;
