@import '../../components/variables.scss';
@import '../../components/mixins';

// Inspired by https://codemyui.com/css-only-transition-for-sign-in-to-register/

.login-wrapper {
    & * {
        box-sizing: border-box;
        transition: all 0.25s ease;
    }

    height: 40rem;
    width: 100%;
    padding: 60px 0;
    background-size: cover;

    .login-window {
        height: 35rem;
        max-width: 30rem;
        padding: 2rem;
        margin: 0 auto;
        background-color: rgba($tc-white, 0.9);
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;

        .login-nav {
            width: 100%;

            ul {
                height: 2rem;
                padding: 0;
                margin: 0 0 2rem 0;
            }

            li {
                display: inline;
                padding: 0 0.6rem 0.3rem 0.6rem;
                font-size: $subtitle-font-size;
                text-align: left;
                text-transform: uppercase;
                color: rgba($indigo-dye, 0.9);
                text-decoration: none;
                cursor: pointer;
                @include animated-underline($powder-blue);
                &:after {
                    height: 2.5px;
                }

                &.active {
                    &:after {
                        width: 100%;
                    }
                }

                &.nav-right {
                    float: right;
                }
            }
        }

        .form {
            form {
                width: 100%;
                height: 27rem;
                color: $tc-black;
                font-size: $default-font-size;

                label {
                    display: block;
                    padding-left: 0.625rem;
                    margin-bottom: 0.625rem;
                    text-transform: uppercase;
                }

                input {
                    display: block;
                    width: 100%;
                    height: 2.5rem;
                    padding: 0 2rem 0 0.625rem;
                    background: rgba($tc-white, 0);
                    color: $tc-black;
                    border: 1px solid $silver-gray;
                    border-radius: 0.5rem;

                    &:focus {
                        outline: none;
                        background: rgba($tc-white, 0.5);
                    }

                    &.input-error {
                        border: 1px solid red;
                    }
                }

                button {
                    width: 100%;
                    height: 2.5rem;
                    margin: 1.25rem 0 0.625rem 0;
                    text-transform: uppercase;
                    text-align: center;
                    color: $tc-white;
                    font-weight: bold;
                    border: none;
                    border-radius: 0.5rem;
                    background-color: rgba($indigo-dye, 1);

                    &:hover {
                        cursor: pointer;
                        background-color: rgba($indigo-dye, 0.8);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .error {
                    display: block;
                    color: red;
                    position: relative;
                    text-align: right;
                    visibility: hidden;

                    &.active {
                        visibility: visible;
                    }
                }
                .error-icon-wrapper {
                    position: relative;
                    visibility: hidden;

                    .error-icon {
                        position: absolute;
                        bottom: 0.5rem;
                        right: 0.625rem;
                    }

                    &.active {
                        visibility: visible;
                    }
                }
            }

            .form-login {
                transform: translateX(-100%);
                opacity: 0;

                &.active {
                    transform: none;
                    opacity: 1;
                }
            }

            .form-signup {
                transform: translateX(100%);
                opacity: 0;
                margin-top: -27rem;

                &.active {
                    transform: none;
                    opacity: 1;
                }
            }
        }
    }
}
