@import './variables';

@mixin title-border-bottom($baseColor, $accentColor) {
    display: inline-block;
    border-bottom: 3px solid $accentColor;
    position: relative;
    &:after {
        position: absolute;
        left: 62%;
        right: 0;
        bottom: -3px;
        border-top: 3px solid $baseColor;
        content: '';
    }
}

@mixin animated-underline($baseColor) {
    position: relative;
    transition: 0.3s;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 0;
        height: 2px;
        background-color: $baseColor;
        transition: 0.3s;
    }
    &:hover::after {
        width: 100%;
    }
}
